<h1>Search for items...</h1>
<form method="post" action="@Url.Action("List", "Home")" >
    <div>
        <input type="text" name="Search" />
        <input type="submit" value="Search" class="submit"/>
    </div>
</form>
