<h1>Search for items...</h1>
<form method="get" action="@Url.Action("Index", "ProductList")" ></form>
    <div>
        <input type="text" name="Search" value="" />
        <input type="submit" value="Submit" class="submit" />
    </div>
</form>
